@page
@model Back_Gestion.Pages.Product.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 style="text-align:center" class="m-0 font-weight-bold text-primary">Modification d'un nouveau produit</h4>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Produit.id" />
            <div class="form-group">
                <label asp-for="Produit.libelle" class="control-label"></label>
                <input asp-for="Produit.libelle" class="form-control" />
                <span asp-validation-for="Produit.libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produit.description" class="control-label"></label>
                <input asp-for="Produit.description" class="form-control" />
                <span asp-validation-for="Produit.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produit.prixjeton" class="control-label"></label>
                <input asp-for="Produit.prixjeton" class="form-control" />
                <span asp-validation-for="Produit.prixjeton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produit.datepublication" class="control-label"></label>
                <input asp-for="Produit.datepublication" class="form-control" />
                <span asp-validation-for="Produit.datepublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produit.idCategorie" class="control-label"></label>
                <select asp-for="Produit.idCategorie" class="form-control" asp-items="@Model.Categories"></select>
                <span asp-validation-for="Produit.idCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produit.stock" class="control-label"></label>
                <input asp-for="Produit.stock" class="form-control" />
                <span asp-validation-for="Produit.stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Produit.image" class="form-control" type="hidden" />
            </div>

            <div class="form-group">
                <label asp-for="Produit.image" class="control-label"></label>
                <input type="file" id="imageUpload" name="Produit.ImageUpload" class="form-control-file" onchange="previewImage(this)" />
                <span asp-validation-for="Produit.image" class="text-danger"></span>
            </div>

            @if (!string.IsNullOrEmpty(Model.Produit.image))
            {
                <div>
                    <img id="productImage" src="~/img/@Model.Produit.image" alt="@Model.Produit.libelle" style="max-width: 200px; max-height: 200px;" />
                </div>
            }
            </br>
            <div class="form-group">
                <input style="float:right" type="submit" value="Valider" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            function previewImage(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#productImage').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    }
}

