@page
@model Back_Gestion.Pages.Product.ImportCSVModel
@{
}

<div class="card shadow mb-4">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Upload" class="control-label">Importer le ficher .CSV</label>
                <input asp-for="Upload" type="file" class="form-control-file" />
            </div>
            <button style="float:right" type="submit" class="btn btn-primary">Ajouter dans la BD</button>
        </form>
    </div>
</div>
