@page
@model Back_Gestion.Pages.User.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 style="text-align:center" class="m-0 font-weight-bold text-primary">Suppression d'un Utilisateur</h4>
    </div>
    <div class="card-body">
        <p>Valider la suppression de l'utilisateur : <strong>@Html.DisplayFor(model => model.Utilisateur.pseudo)</strong></p>
        <form method="post">
            <a asp-page="./Index" class="btn btn-light btn-icon-split">
                <span class="icon text-gray-600">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Annuler</span>
            </a>
            <input type="hidden" asp-for="Utilisateur.id" />
            <input style="float:right" type="submit" value="Supprimer" class="btn btn-danger" />
        </form>
    </div>
</div>

